.order {
  display: flex;
  flex-direction: column;
}

.order__modal > div {
  padding: 0 var(--gap-6xl);
}

.order__wrapper {
  position: relative;

  height: 100%;
}

.order__wrapper__form h6 {
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-xs);
}

.order__wrapper__items > div {
  max-width: 550px;
}

.order__wrapper__items {
  margin: 0 var(--gap-l);
}

.order__wrapper__total_price > div {
  text-align: end;
}

@media (width <= 1064px) {
  .order__wrapper__items {
    max-width: 600px;
  }

  .order__wrapper {
    flex-flow: column-reverse wrap;
  }
}

@media (width <= 825px) {
  .order__modal > div {
    padding: var(--gap-2xs);
  }
}

@media (width <= 661px) {
  .order__wrapper__items {
    max-width: 460px;
  }
}

@media (width <= 520px) {
  .order__wrapper__items {
    max-width: 410px;
  }
}

@media (width <= 480px) {
  .order__wrapper__items {
    max-width: 360px;
  }
}

@media (width <= 395px) {
  .order__modal > div {
    padding: 0;
  }

  .order__wrapper__items {
    width: 300px;
    margin: 0 var(--gap-4xl);
  }

  .order__wrapper__form {
    max-width: 350px;
    margin: 0 var(--gap-xl);
  }
}
