@import url("../../css/variables.css");
@import url("../../css/animation.css");

.cart__wrapper {
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 20px;

  border-radius: 50px;
  background-color: var(--logo-color);
  composes: fade_scale from global;
}

.cart__icon {
  padding: 20px;

  color: var(--white-color);

  font-size: 54px;
}

.cart__icon_text {
  position: absolute;
  top: 70%;
  right: 0;

  width: 35px;
  padding: 5px;

  text-align: center;

  color: var(--white-color);
  border-radius: 25px;
  background-color: var(--black-color);
}

.cart__icon_tooltip {
  position: absolute;
  top: 25%;
  right: 60%;

  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;

  transition: opacity 1s ease-in-out;
  transform: translate(-50%);

  opacity: 0;
  color: var(--white-color);
  border-radius: 10px;
  background-color: var(--black-color);
  composes: tooltip_visible from global;
}

.cart__icon_tooltip::before {
  position: absolute;
  top: 50%;
  left: 110%;

  content: "";
  transform: translate(-50%, -50%);

  border: 15px solid;
  border-color: var(--border-color) var(--border-color) var(--border-color)
    var(--black-color);
}

.cart__icon_tooltip__text {
  margin: 0;
}

.cart__wrapper:hover .cart__icon_tooltip {
  visibility: visible;

  opacity: 1;
}

.cart__wrapper:hover {
  transform: scale(1.1);
}

@media (width <= 960px) {
  .cart__wrapper {
    top: 80vh;
  }
}

@media (width <= 640px) {
  .cart__icon {
    padding: 10px;

    font-size: 40px;
  }

  .cart__icon_text {
    top: 60%;
    left: 60%;

    width: 30px;
    padding: 3px;
  }

  .cart__icon_tooltip {
    top: 20%;
    right: 40%;
  }
}
