@import url("../../../css/variables.css");

.menu__links {
  margin-top: 40px;
  margin-bottom: auto;
}

.menu__links a {
  padding: 0 10px;

  text-decoration: none;

  color: var(--white-color);
}

@media (width <= 640px) {
  .menu__links a {
    color: var(--black-color);
  }
}
