@import url("../../css/variables.css");

.main {
  display: flex;
  flex-wrap: nowrap;

  width: calc(100vw - 20px);
}

@media (width <= 960px) {
  .main {
    flex-wrap: wrap;

    width: 100vw;
  }
}
