.contacts {
  width: 1200px;
  margin: 0 auto;
  padding: var(--gap-3xl) var(--gap-m);
}

.contacts__title {
  font-size: 100px;
}

.contacts__info {
  padding: var(--gap-5xl) 0;
}

@media (width <= 1220px) {
  .contacts {
    width: 100%;
  }
}

@media (width <= 525px) {
  .contacts__title {
    font-size: 50px;
  }
}
