@import url("../../css/variables.css");

.groups__card_title h1 {
  width: 80%;
  padding-top: 75px;

  color: var(--logo-color);

  font-size: 115px;
  line-height: 90px;
}

.groups__card_sub_title h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (width <= 1065px) {
  .groups__card_title h1 {
    font-size: 70px;
    line-height: 60px;
  }

  .groups__card_sub_title h6 {
    margin-top: 10px;
  }
}

@media (width <= 660px) {
  .groups__card_title h1 {
    font-size: 55px;
    line-height: 50px;
  }
}

@media (width <= 520px) {
  .groups__card_title h1 {
    font-size: 45px;
    line-height: 40px;
  }
}

@media (width <= 480px) {
  .groups__card_title h1 {
    padding-top: 30px;

    font-size: 40px;
    line-height: 40px;
  }
}
