@import "../../css/variables.css";

.groups__card_title h1 {
  font-size: 115px;
  color: var(--logo-color);
  width: 80%;
  line-height: 90px;
  padding-top: 75px;
}

.groups__card_sub_title h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1065px) {
  .groups__card_title h1 {
    font-size: 70px;
    line-height: 60px;
  }

  .groups__card_sub_title h6 {
    margin-top: 10px;
  }
}

@media (max-width: 660px) {
  .groups__card_title h1 {
    font-size: 55px;
    line-height: 50px;
  }
}

@media (max-width: 520px) {
  .groups__card_title h1 {
    font-size: 45px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .groups__card_title h1 {
    font-size: 40px;
    line-height: 40px;
    padding-top: 30px;
  }
}
