@import "../../../css/variables.css";

.cart_panel__wrapper {
  width: 560px;
}

.cart_panel_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--black-color);
  font-size: 20px;
}

.cart_panel__items {
  padding: 40px;
  max-height: 100%;
}

.items__total_price {
  text-align: end;
  font-size: 20px;
}

.cart_panel__button_next {
  margin-top: var(--gap-l);
}

@media (max-width: 1023px) {
  .cart_panel__wrapper {
    width: 100%;
  }
}
