@import url("../../../css/variables.css");
@import url("../../../css/animation.css");

.main__picture {
  position: relative;

  transition: all 0.5s;
  composes: opacity from global;
}

.main__picture img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: center 20%;
}

.main__picture h1 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;

  color: var(--black-color);
}

.main__picture:hover {
  filter: brightness(80%);
}

@media (width <= 960px) {
  .main__picture h1 {
    top: 10px;
    left: 10px;

    font-size: 28px;
  }

  .main__picture img {
    height: 40vh;
  }
}
