@import url("../../../css/variables.css");

.gallery {
  width: 600px;
  padding: 0 15px;
}

.gallery img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top 20%;
}

.gallery .gallery__small_pictures {
  max-width: 100px;
}

.gallery_container img {
  border: 2px solid var(--grey-color);
}

.gallery__small_pictures img {
  width: 60px;
  height: 60px;
}

@media (width <= 1165px) {
  .gallery {
    margin-bottom: 20px;
  }
}

@media (width <= 1065px) {
  .gallery {
    width: 640px;
  }
}

@media (width <= 660px) {
  .gallery {
    width: 100%;
    margin-right: 15px;
  }
}
