.order__header {
  position: sticky;
  z-index: 1;
  top: 0;

  padding: var(--gap-xs);

  border-bottom: 1px solid rgb(155 153 153);
  background-color: white;
}

.order__header svg {
  font-size: 20px;
}

.order__header > div:nth-child(1) {
  text-align: start;
}

.order__header > div:nth-child(2) {
  text-align: center;
}

.order__header > div:nth-child(3) {
  text-align: end;
}

@media (width <= 550px) {
  .order__header h3 {
    font-size: 25px;
  }
}

@media (width <= 410px) {
  .order__header h3 {
    font-size: 20px;
  }
}

@media (width <= 327px) {
  .order__header h3 {
    font-size: 18px;
  }
}
