.product_description {
  width: 500px;
  padding: 0 15px;
}

.product_description__text {
  margin-top: 50px;
}

@media (max-width: 1135px) {
  .product_description {
    width: 400px;
  }
}

@media (max-width: 1065px) {
  .product_description {
    width: 640px;
  }
}

@media (max-width: 660px) {
  .product_description {
    width: 100%;
  }
}
