@import url("../../css/variables.css");

.header {
  z-index: 2;

  height: 80px;

  background-color: var(--white-color);
}

.header__container {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--gap-s) var(--gap-m);

  background-color: var(--white-color);
}

.header__container a {
  text-decoration: none;

  color: var(--logo-color);
}

.header__menu button {
  color: var(--black-color);

  font-size: 30px;
  font-weight: 700;
}

@media (width <= 960px) {
  .header__menu_button {
    display: none;
  }
}
