@import url("../../../css/variables.css");

.cart__items__item {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
}

.item__counter__buttons {
  display: flex;
  flex-direction: row;
}

.item__wrapper {
  display: flex;
  flex-direction: row;
}

.item__wrapper__description p {
  margin: 2px 0;
}

.cart__items__item img {
  width: 70px;
  height: 70px;

  border-radius: 5px;
  object-fit: cover;
  object-position: top 20%;
}

.item__counter__buttons_button span {
  width: 25px;
}

.item__counter__buttons_button,
.item__counter__buttons_button svg {
  width: 25px;
  height: 30px;
}

.item__counter__buttons_cross,
.item__counter__buttons_cross svg {
  width: 25px;
  height: 30px;
}

.item__counter__buttons_button:active,
.item__counter__buttons_cross:active {
  transform: scale(1.1);
}

.item__counter__buttons__text_count input {
  width: 20px;
  padding: 0;

  text-align: center;

  background-color: var(--white-color);
}

.item__counter__buttons__text_count input:hover {
  border: 1px solid var(--grey-color);
}

.item__text_price {
  width: 80px;
  margin: 0;

  text-align: center;
}

.cart__items__empty_cart {
  margin: 10px 0;

  font-size: 24px;
}

@media (width <= 620px) {
  .cart__items__item {
    position: relative;
  }

  .item__counter__buttons_cross {
    position: absolute;
    top: 0;
    right: 0;
  }

  .cart__items__item {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .item__counter__buttons_cross svg {
    color: var(--logo-color);
  }
}

@media (width <= 395px) {
  .item__counter__buttons_cross {
    right: -10px;
  }
}
