@import url("../../../css/variables.css");

.menu__footer {
  padding-left: 20px;
}

.menu__footer_icon {
  border-radius: 25px;
  background-color: var(--white-color);
}

@media (width <= 640px) {
  .menu__footer_icon {
    background-color: var(--black-color);
  }

  .menu__footer_icon {
    background-color: var(--black-color);
  }

  .menu__footer_icon span {
    color: var(--white-color);
  }
}
