@import url("../../css/animation.css");

.yandex_map {
  position: relative;

  width: 760px;
  height: 350px;
  composes: opacity from global;
}

@media (width <= 810px) {
  .yandex_map {
    width: 470px;
  }
}

@media (width <= 525px) {
  .yandex_map {
    width: 395px;
  }
}

@media (width <= 480px) {
  .yandex_map {
    width: 375px;
  }
}
