@import url("../../css/animation.css");

.not_found {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  composes: opacity from global;
}

.not_found__text {
  margin-bottom: 40px;

  text-align: center;
}

@media (width <= 1200px) {
  .not_found__text h1 {
    width: 400px;

    font-size: 25px;
  }
}

@media (width <= 480px) {
  .not_found__text h1 {
    width: 300px;

    font-size: 20px;
  }
}
