@import url("../../css/variables.css");
@import url("../../css/animation.css");

.products_card {
  position: relative;

  width: 340px;
  margin-top: 20px;
  padding: 0 7px;
  padding-bottom: 75px;
  composes: slide_right from global;
}

.products_card p {
  margin-bottom: 5px;
}

.products_card a {
  text-decoration: inherit;

  color: inherit;
}

.products_card img {
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: top 20%;
}

.products_card img:hover {
  filter: brightness(80%);
}

@media (width <= 1065px) {
  .products_card {
    width: 305px;
    margin-top: 20px;
  }

  .products_card img {
    max-width: 100%;
  }
}

@media (width <= 660px) {
  .products_card {
    width: 235px;
  }

  .products_card h6 {
    font-size: 16px;
  }

  .products_card p {
    font-size: 14px;
  }
}

@media (width <= 520px) {
  .products_card {
    width: 210px;
  }
}

@media (width <= 480px) {
  .products_card {
    width: 370px;
    padding: 0;
  }
}
